---
layout: "base.njk"
backgroundImage: /assets/images/backgrounds/rows-of-small-candles.jpg
---

<p class="w3-large"><b>Hello, I'm Angelica.</b></p>
<p>My friends call me Angel. Perhaps because I am like an Angel to them when I make them feel better about a situation, or give them a really good massage.</p>

<div class="w3-row">
    <div class="w3-col m5 w3-center w3-black w3-padding w3-round-large">
        <p><img src="/assets/images/backgrounds/pouring-oil-on-hand.jpg" alt="Image of Pouring Oil on Hand" class="w3-image w3-round-large"></p>
        <p class="w3-large"><b>Massage</b></p>
        <p><a href="/massage" class="w3-button w3-block w3-deep-purple w3-hover-pink w3-round-large">Find Out More</a></p>
    </div>
    
    <div class="w3-col m2">&nbsp;</div>
    
    <div class="w3-col m5 w3-center w3-black w3-padding w3-round-large">
        <p class="w3-text-light-gray w3-display-container w3-round-large" style="background-color: #111; aspect-ratio: 640 / 427;"><b class="w3-display-middle">Little Innocent Angel</b></p>
        <p class="w3-large"><b>Blog</b></p>
        <p><a href="https://www.littleinnocentangel.ict.rocks" target="_blank" class="w3-button w3-block w3-deep-purple w3-hover-pink w3-round-large">Find Out More</a></p>
    </div>
</div>